* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  background: #161616;
}

ul,
li {
  background: transparent;
}

p.warning {
  color: red;
}

a,
i {
  background: transparent;
}

a:hover {
  opacity: 0.7;
}
i:hover {
  opacity: 0.7;
}

nav {
  display: none;
}

.container {
  position: absolute;
  border-radius: 20px;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  box-shadow: #000000 4px 4px 8px, #2e2e2e -4px -4px 8px;
  overflow: hidden;
}

.cat {
  position: absolute;
  left: 0;
  width: 30%;
  padding: 0.6rem;
  padding-left: 1rem;
  text-align: left;
  border-radius: 20px;
}

.cat h4 {
  text-transform: uppercase;
}

.nav-links {
  position: absolute;
  left: 30%;
  width: 70%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  border-radius: 20px;
}

.nav-links div {
  text-align: center;
  height: 3rem;
  padding: 0.8rem;
  font-size: 0.8rem;
}

.date-time {
  border-radius: 0 20px 0 0;
  overflow: hidden;
}

.home-list {
  position: absolute;
  left: 5%;
  top: 20%;
  font-size: 0.7rem;
}

.home-list i {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

li:hover {
  cursor: pointer;
  opacity: 0.7;
}

.news-container {
  position: absolute;
  padding: 1rem;
  overflow: hidden;
  line-height: 200%;
  top: 20%;
  left: 40%;
  width: 58%;
  font-size: 0.7rem;
  height: 75%;
  border-radius: 20px;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
}

.news-title {
  position: absolute;
  left: 42%;
  top: 12%;
}

/* input box */

.get-data {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 30%;
  height: 50%;
}

#company {
  position: absolute;
  left: 0;
  top: 1rem;
  color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
}

#country {
  position: absolute;
  left: 0rem;
  top: 4rem;
  width: 100%;
  border: none;
  border-radius: 20px;
  text-align: center;
  outline: none;
  height: 2rem;
  margin-top: 1rem;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
}

.button {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.button-1 {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.button-1:hover {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}

#company:focus {
  color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
  outline: none;
}

.ch-container {
  position: absolute;
  padding: 1rem;
  overflow: hidden;
  top: 20%;
  left: 40%;
  width: 58%;
  font-size: 0.7rem;
  height: 65%;
  border-radius: 20px;
  box-shadow: inset #000000 2px 2px 6px, inset #2e2e2e -2px -2px 6px;
}

.dd-container {
  position: absolute;
  padding: 1rem;
  overflow: hidden;
  top: 20%;
  left: 40%;
  width: 58%;
  font-size: 0.7rem;
  height: 65%;
  border-radius: 20px;
  box-shadow: inset #000000 2px 2px 6px, inset #2e2e2e -2px -2px 6px;
}
.oc-container {
  position: absolute;
  padding: 1rem;
  overflow: hidden;
  top: 20%;
  left: 40%;
  width: 58%;
  font-size: 0.7rem;
  height: 65%;
  border-radius: 20px;
  box-shadow: inset #000000 2px 2px 6px, inset #2e2e2e -2px -2px 6px;
}

.loading {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.p5Canvas {
  position: absolute;
  display: none;
  top: 65%;
  left: 10%;
  width: 30%;
  height: 30%;
}

.button-container {
  position: absolute;
  display: flex;
  top: 88%;
  left: 40%;
  width: 55%;
  height: 2rem;
}

.copy {
  position: absolute;
  padding: 0.3rem;
  left: 5%;
  width: 40%;
  height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.clear {
  position: absolute;
  padding: 0.3rem;
  width: 40%;
  left: 60%;
  height: 2rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.copy:hover {
  position: absolute;
  padding: 0.3rem;
  left: 5%;
  width: 40%;
  height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}
.clear:hover {
  position: absolute;
  padding: 0.3rem;
  width: 40%;
  left: 60%;
  height: 2rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}

/* Database */

td,
th {
  margin: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 1px solid black;
}

.entry:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* Login page */

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 12rem;
  width: 18rem;
  /* border: 1px solid white; */
}

#username,
#password,
#email {
  color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
  outline: none;
}

#username:focus,
#password:focus,
#email:focus {
  color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: inset #000000 2px 2px 5px, inset #2e2e2e -2px -2px 5px;
  outline: none;
}

.register {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  text-align: center;
  font-size: 0.7rem;
}

.login-link {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -4rem;
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
}

.button-l {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button-l:hover {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.button-r {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button-r:hover {
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 6px, #2e2e2e -1px -1px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.errors {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
}

.errors li {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: red;
}

.success {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
}

.success li {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: rgb(38, 228, 13);
}

.welcome {
  position: absolute;
  top: 5rem;
  left: 10%;
}

.logout {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.logout:hover {
  position: absolute;
  top: 12rem;
  left: 50%;
  width: 15rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 8px, #2e2e2e -1px -1px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover a {
  opacity: 0.7;
  transition: 0.3s;
}

.logout a {
  font-size: 0.7rem;
}

.change-pw {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 2px 2px 8px, #2e2e2e -2px -2px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.change-pw:hover {
  position: absolute;
  top: 9rem;
  left: 50%;
  width: 15rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: #000000 1px 1px 8px, #2e2e2e -1px -1px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.change-pw:hover a {
  opacity: 0.7;
  transition: 0.3s;
}

.change-pw a {
  font-size: 0.7rem;
}
