* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
}

.small-text {
  opacity: 0.3;
  position: absolute;
  bottom: 0.5rem;
  left: 10%;
  transform: translate(-50%);
  font-size: 0.5rem;
}

body {
  background: #222222;
}

.color-text {
  color: rgb(81, 156, 255);
}

a {
  color: #ffffff;
}

a:hover {
  color: rgb(81, 156, 255);
}

.news-container {
  position: absolute;
  left: 30%;
  top: 40%;
  width: 65%;
  height: 200vh;
}

.news {
  list-style: none;
  font-size: 0.8rem;
  line-height: 200%;
}

.news-div {
  width: 50%;
  height: 30%;
  background: #222222;
  margin: 3rem;
  border-radius: 2px;
  box-shadow: #262626 0px 0px 2px 2px, #000000 4px 4px 8px,
    #4d4d4d -4px -4px 8px;
}

.news-div img {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  position: fixed;
  width: 25%;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.13);
  background: #161616;
  color: white;
  z-index: 9999;
}

/* .navigation.scrolled {
  background: red;
} */

.page-name {
  position: absolute;
  top: 3rem;
  left: 35%;
  color: rgb(81, 156, 255);
}

nav ul {
  position: absolute;
  width: 100%;
  top: 15%;
  height: 100%;
  padding-top: 1.4rem;
}

nav ul li {
  /* display: inline; */
  list-style: none;
  margin: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.title {
  margin-top: 2rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(81, 156, 255);
}

.newsTitle {
  position: absolute;
  left: 30%;
  top: 0%;
}

#get-data {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 65%;
  height: 5rem;
  padding: 1rem;
  background: #161616;
  color: white;
  /* border: 1px solid rgb(255, 255, 255); */
}

input[type="submit"] {
  background-color: #5f5f5f;
  border: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem;
  /* border-radius: 20%; */
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #414141;
  border: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem;

  color: #ffffff;
  cursor: pointer;
}

.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 40%;
}

.loading img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
}

.company {
  position: absolute;
  top: 30%;
  left: 30%;
  /* transform: translateX(-50%); */
  width: 65%;
  height: 20%;
  font-size: 0.8rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  overflow: hidden;
  z-index: 9999;
  display: none;
}

.company.visible {
  position: absolute;
  color: white;
  top: 30%;
  left: 30%;
  width: 65%;
  height: 60%;
  background: #161616;
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 0.5rem;
  overflow: scroll;
  display: flex;
}

.refresh {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 35%;
  right: 10%;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
  color: white;
}

.clear {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 7vh;
  right: 0%;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
  color: white;
  z-index: 9999;
}
.clear:hover {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 7vh;
  right: 0;
  width: 50px;
  height: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  display: none;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
}

.copy {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 7vh;
  right: 50px;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
  color: white;
  z-index: 9999;
}
.copy:hover {
  text-align: center;
  font-size: 0.8rem;
  top: 7vh;
  right: 50px;
  width: 50px;
  height: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  display: none;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
}

.buttons {
  position: absolute;
  right: 5%;
  width: 80%;
  top: 85%;
  z-index: 9999;
}

.ch-1 {
  position: absolute;
  width: 60%;
  left: 25%;
  height: 140vh;
  width: 75%;
  top: 78vh;
  padding: 3rem;
}

.ch-2 {
  position: absolute;
  left: 25%;
  width: 60%;
  height: 100vh;
  width: 75%;
  top: 160vh;
  padding: 3rem;
}

.ch-1 img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  border: 1px solid black;
}
.ch-2 img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  border: 1px solid black;
}

#company,
#name {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  width: 80%;
}

/* Screenshot page */

.link-list {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 40%;
  left: 20%;
}

.ss-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20000px;
}

.dowjones {
  position: absolute;
  top: 0;
  height: 1000px;
  width: 100%;
}
.google {
  position: absolute;
  top: 0px;
  height: 1000px;
  left: 25%;
  width: 75%;
}

.company-one {
  position: absolute;
  top: 1000px;
  height: 1000px;
  left: 25%;
  width: 75%;
}
.company-two {
  position: absolute;
  top: 2000px;
  height: 1000px;
  left: 25%;
  width: 75%;
}
.company-three {
  position: absolute;
  top: 3000px;
  height: 1000px;
  left: 25%;
  width: 75%;
}
.company-four {
  position: absolute;
  top: 4000px;
  height: 1000px;
  left: 25%;
  width: 75%;
}
.company-five {
  position: absolute;
  top: 5000px;
  height: 1000px;
  left: 25%;
  width: 75%;
}
.dowjones img,
.google img,
.company-one img,
.company-two img,
.company-three img,
.company-four img,
.company-five img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border: 1px solid black;
}
/* OpenCorporates */

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
}

/* Loading animation */

.loading {
  position: absolute;
  left: 62.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.box {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(81, 156, 255);
}

.box:nth-child(1) {
  animation: a1 2s infinite linear;
}

.box:nth-child(2) {
  animation: a2 2s infinite linear;
}

@keyframes a1 {
  0% {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }
  12.5% {
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
  }
  37.5% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  50% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  62.5% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }
  75% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }
  87.5% {
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  100% {
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
}

@keyframes a2 {
  0% {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  12.5% {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  37.5% {
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
  }
  50% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  62.5% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  75% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }
  87.5% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }
  100% {
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }
}
