* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a {
  color: #000;
}

a:hover {
  opacity: 0.6;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

nav ul {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  height: 100%;
  padding-top: 1.4rem;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 1rem;
}

.title {
  margin: 1rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

h3 {
  position: absolute;
  left: 10%;
  top: 10%;
}

#get-data {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5rem;
  padding: 1rem;
  background: rgb(238, 238, 238);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
  border: 1px solid rgba(0, 0, 0, 0.253);
}

input[type="submit"] {
  background-color: #5a5a5a;
  border: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem;
  border-radius: 20%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #383838;
  border: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem;
  border-radius: 20%;
  color: white;
  cursor: pointer;
}

.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 40%;
}

.loading img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
}

.company {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20%;
  font-size: 0.8rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  overflow: hidden;
  z-index: 9999;
  display: none;
}

.company.visible {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20%;
  background: rgb(238, 238, 238);
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
}

.clear {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 51%;
  right: 0%;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}

.refresh {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 35%;
  right: 10%;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}
.clear:hover {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 51%;
  right: 0;
  width: 50px;
  height: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  display: none;
  transition: all 0.5s;
  cursor: pointer;
}

.copy {
  /* display: inline; */
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  top: 51%;
  right: 50px;
  width: 50px;
  height: 1.5rem;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}
.copy:hover {
  text-align: center;
  font-size: 0.8rem;
  top: 51%;
  right: 50px;
  width: 50px;
  height: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  display: none;
  transition: all 0.5s;
  cursor: pointer;
}

.buttons {
  position: absolute;
  right: 10%;
  width: 80%;
  top: 51%;
}

.ch-1 {
  position: absolute;
  width: 60%;
  height: 140vh;
  width: 100%;
  top: 70vh;
  padding: 3rem;
}

.ch-2 {
  position: absolute;
  width: 60%;
  height: 100vh;
  width: 100%;
  top: 170vh;
  padding: 3rem;
}

.ch-1 img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  border: 1px solid black;
}
.ch-2 img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  border: 1px solid black;
}

#company {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  width: 80%;
}

/* Screenshot page */

.link-list {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 40%;
  left: 20%;
}

.ss-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20000px;
}

.dowjones {
  position: absolute;
  top: 0;
  height: 1000px;
  width: 100%;
}
.google {
  position: absolute;
  top: 0px;
  height: 1000px;
  width: 100%;
}

.company-one {
  position: absolute;
  top: 1000px;
  height: 1000px;
  width: 100%;
}
.company-two {
  position: absolute;
  top: 2000px;
  height: 1000px;
  width: 100%;
}
.company-three {
  position: absolute;
  top: 3000px;
  height: 1000px;
  width: 100%;
}
.company-four {
  position: absolute;
  top: 4000px;
  height: 1000px;
  width: 100%;
}
.company-five {
  position: absolute;
  top: 5000px;
  height: 1000px;
  width: 100%;
}
.dowjones img,
.google img,
.company-one img,
.company-two img,
.company-three img,
.company-four img,
.company-five img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border: 1px solid black;
}

.loadingText {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
